*,*::before,*::after{
  padding: 0px;
  margin: 0px;
  outline: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
body, html{
  transition: opacity 0.5s ease-in-out;
  overflow-x: hidden;
}
header{
  width: 100%;
  height: 60px;
  display:  block;
  background: white;
  position:  fixed;
  z-index: 1000;
}
header img{
  width: 10%;
  height: 60px;
  float: left;
}
header li{
  display: inline-block;
  float: right;
  height: 60px;
  width: 15%;
  text-align: center;
  padding: 18px;
  cursor: pointer;
  font-weight: 400;
}
header li:hover{
 text-decoration: underline;
 font-weight: bold;
}
header li a{
  text-decoration: none;
  color: black;
}
#PTI{
  background: #d2d6d8;
  border-radius: 4px;
  cursor: default;
  font-weight: bold;
}

#PTI:hover{
  font-weight: 400;
   text-decoration: none;
   font-weight: bold;
}
.Parte1{
  width: 100%;
  height: 550px;
  display: block;
background-image: url("../Imagenes/Fondo_1.jpeg");
background-size:  contain;
box-shadow: 0px 0px 10px 0px black inset;
background-size: 100% 80%;
}
.Parte1 h1{
  margin-top: 150px;
  padding-top: 15px;
  width: 30%;
  margin-left: 35%;
  height: 60px;
  background: rgba(0,0,0,0.7);
  text-align: center;
  font-size: 25px;
color: #d2d6d8;
border-radius: 4px;
}
.Parte1 h2{
  margin-top: 200px;
  padding: 10px;
  width: 40%;
  height: 70px;
  background: white;
  text-align: justify;
  font-size: 18px;
  color:  #516a70 ;
  font-size: 15px;
  margin-left: 18%;
  border-radius: 4px 0px 0px 4px;
  float: right;
}
.Parte2{
  width: 100%;
  height: 600px;
  display: block;
background-image: url("../Imagenes/Parte_2.png");
background-size:  contain;
box-shadow: 0px 0px 10px 0px black inset;
background-attachment: scroll;
background-size: 100% 100%;
border-top: 10px solid white;

transition: opacity 0.7s ease-in-out, transform 0.7s ease-in-out;
    opacity: 0.2;
    transform: translateY(0px);
}
.Parte2 h1{
  border-radius: 10px;
width: 40%;
height: 55%;
background: white;
font-size: 18px;
margin-left: 5%;
margin-top: 10%;
padding: 20px;
text-align: justify;
box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.6) inset;
font-weight: normal;
}
.Parte2 h2{
  position: absolute;
  margin-left: 3%;
  font-size: 30px;
  margin-top: 50px;
}


section{
  width: 100%;
  height: 150px;
  background: #243840 ;
}

section h1{
  color: #c1bdb3;
  float: left;
  margin-top: 5%;
  margin-left: 10%;
  font-size: 20px;
  animation-name: move;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  cursor: default;
}
@keyframes move {
0%{
  font-size: 20px;
  margin-left: 10%;
}
25%{
  font-size: 22px;
  margin-left: 8%;
}
50%{
  font-size: 20px;
  margin-left: 10%;
}
75%{
  font-size: 22px;
  margin-left: 8%;
}
100%{
  font-size: 20px;
}

}
section a{
  float: right;
  margin-top: 3.5%;
  background:  #516a70;
  margin-right: 10%;
 width: 15%;
 height: 60px;
 text-decoration: none;
 text-align: center;
 padding: 20px;
 border-radius: 10px;
 color: white;
 box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.6);
 transition: .2s;
}
section a:hover{
background:  #6d272b;
}

.Parte3{
  width: 100%;
  height: 700px;
  border-top: 20px solid  #6d272b  ;
  background: white;
  position: relative;
  display: block;

  transition: opacity 0.7s ease-in-out, transform 0.7s ease-in-out;
      opacity: 0.2;
      transform: translateY(0px);
}

.Parte3 img{
  width: 70%;
  height: 90%;
  margin-top: 30px;
  position: absolute;
}
.Parte3 h1{
  float: right;
  margin-top: 50px;
  padding: 10px;
  margin-left: 60%;
  background: white;
  position: absolute;
  color: #243840;
}
.Parte3 h2{
  float: right;
  margin-top: 120px;
  padding: 10px;
  margin-left: 50%;
  background: white;
  position: absolute;
  font-size: 17px;
  text-align: justify;
  margin-right: 50px;
  font-weight: 400;
}
footer{
  width: 100%;
  height: 170px;
  background: #243840;
}
footer li{
  display: inline-block;
  width: 49.8%;
  height: 100%;
  color:  #cec1b9;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
}
.Parte4{
  width: 100%;
  height: 700px;
  background: white;

  transition: opacity 0.7s ease-in-out, transform 0.7s ease-in-out;
      opacity: 0.2;
      transform: translateY(0px);
}
.Parte4 h1{
  margin-top: 100px;
  background:  #516a70 ;
  display: inline-block;
  width: 42%;
  margin-left: 5%;
  height: 400px;
color:  white;
border-radius: 5px;
padding: 25px;
text-align: justify;
font-size: 17px;
font-weight: 400;
padding-top: 7%;
box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.7);


}
.background {
    position: fixed;
    width: 100%;
    height: 50%;
    background-size: cover;
    transition: opacity 0.5s ease-in-out;
}
.fade-in {
    opacity: 1;
    transform: translateY(0);
}
