*,*::before,*::after{
  padding: 0px;
  margin: 0px;
  outline: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
header{
  width: 100%;
  height: 60px;
  display:  block;
  background: white;
  position:  fixed;
  z-index: 1000;
}
header img{
  width: 10%;
  height: 60px;
  float: left;
}
header li{
  display: inline-block;
  float: right;
  height: 60px;
  width: 15%;
  text-align: center;
  padding: 18px;
  cursor: pointer;
  font-weight: 400;
}
header li:hover{
 text-decoration: underline;
 font-weight: bold;
}
header li a{
  text-decoration: none;
  color: black;
}
#PTI{
  background: #d2d6d8;
  border-radius: 4px;
  cursor: default;
  font-weight: bold;
}

#PTI:hover{
  font-weight: 400;
   text-decoration: none;
   font-weight: bold;
}

.Parte1{
background:  #516a70;
width: 100%;
height: 500px;
box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.5) inset;
border-radius: 3px;
text-align: center;
padding: 20px;
color: #cec1b9;
}
.Parte1 h2{
  text-align: justify;
  padding: 20px;
  font-weight: 400;
}

.Separador{
  background-image: url("../Imagenes/Parte6.jpg");
  width: 100%;
  height: auto;
  display: block;
  background-size: 100% 100%;
}
.Organigrama{
  margin-top: 5%;
  padding: 20px;
  background: white;
  width: 90%;
  height: 500px;
  margin-left: 5%;
  position: relative;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.4);
}
.Organigrama img{
  display: block;
  width: 50%;
  height: 100%;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  float: right;
}
.Organigrama h1{
  position: absolute;
  width: 50%;
  text-align: center;
  margin-top: 30px;
}
.Organigrama h2{
  text-align: center;
  position: absolute;
  font-size: 15px;
  display: block;
  width: 50%;
  margin-top: 100px;
}
.Curriculum {
  width: 30%;
  height: 600px;
  display: block;
  background: white;
  margin-top: 50px;
  margin-left: 35%;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.4);
  position: relative;
}
.Curriculum img{
  width: 80%;
  margin-left: 10%;
}
.Curriculum h1{
  font-size: 22px;
  text-align: center;
}
.Curriculum h2{
  text-align: justify;
  font-size: 15px;
  padding: 25px;
  font-weight: 400;
}
footer{
  width: 100%;
  height: 170px;
  background: #243840;
}
footer li{
  display: inline-block;
  width: 49.8%;
  height: 100%;
  color:  #cec1b9;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
}
